##
# Systemd service for VED
#
# Author:
#  - Adam 'pi3' Zabrocki (http://pi3.com.pl)
##

[Unit]
Description=Vault Exploit Defense
Documentation=https://hardenedvault.net/products/ved/
DefaultDependencies=no
After=systemd-modules-load.service
Before=systemd-sysctl.service
Before=sysinit.target shutdown.target
Conflicts=shutdown.target
ConditionKernelCommandLine=!noved

[Service]
Type=oneshot
ExecStart=/sbin/modprobe -v ved
ExecStartPost=/sbin/sysctl -p /etc/sysctl.d/01-ved.conf
ExecStop=/sbin/modprobe -v -r ved
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
