Source: ved
Section: kernel
Priority: optional
Maintainer: HardenedVault <root@hardenedvault.net>
Homepage: https://hardenedvault.net/blog/2021-09-06-ved/
#Vcs-Browser: https://github.com/lkrg-org/lkrg
#Vcs-Git: https://github.com/lkrg-org/lkrg.git
Standards-Version: 4.5.1.1
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13), dkms

Package: ved
Architecture: all
Depends: ${misc:Depends},
 ved-dkms (= ${source:Version})
Description: Vault Exploit Defense (VED)
 VED performs runtime integrity checking of the Linux kernel and detection of
 security vulnerability exploits against the kernel.
 .
 VED is a kernel module (not a kernel patch), so it can be built for and loaded
 on top of a wide range of mainline and distros' kernels, without needing to
 patch those.
 .
 That is only a dependency package to install the VED kernel module and also
 some systemd service in order to help to manage loading/unloading the module at
 system boot/shutdown.

Package: ved-dkms
Architecture: all
Depends: ${misc:Depends},
 dkms
Recommends: ved-systemd (= ${source:Version})
Description: Vault Exploit Defense (VED) Source Code and DKMS
 VED performs runtime integrity checking of the Linux kernel and detection of
 security vulnerability exploits against the kernel.
 .
 VED is a kernel module (not a kernel patch), so it can be built for and loaded
 on top of a wide range of mainline and distros' kernels, without needing to
 patch those.
 .
 This package uses DKMS to automatically build the VED kernel module.

Package: ved-systemd
Architecture: all
Depends: ${misc:Depends},
 ved-dkms (= ${source:Version}),
 systemd
Description: Systemd integration for Vault Exploit Defense (VED)
 VED performs runtime integrity checking of the Linux kernel and detection of
 security vulnerability exploits against the kernel.
 .
 VED is a kernel module (not a kernel patch), so it can be built for and loaded
 on top of a wide range of mainline and distros' kernels, without needing to
 patch those.
 .
 This package provides systemd integration for the VED kernel module.
